:root{
  --fingerWidth: 80px;
}
.scan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scan .fingerprint {
  position: relataive;
  width: var(--fingerWidth);
  height: var(--fingerWidth);
  background: url("/assets/fingerprint.png");
  background-size: var(--fingerWidth);
}

.scan:active .fingerprint::before {
  content: "";
  z-index: 1111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/fingerprint2.png");
  background-size: var(--fingerWidth);
  animation: animate 1s ease-in-out infinite;
  -webkit-animation: animate 1s ease-in-out infinite;
}
@media screen and (max-width: 700px) {
  :root{
    --fingerWidth: 50px;
  }
}
@media screen and (max-height: 700px) {
  :root{
    --fingerWidth: 50px;
  }
}

@keyframes animate {
  0%,
  100% {
    height: 0%;
  }

  50% {
    height: 100%;
  }
}

.scan:active .fingerprint::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: var(--c1);
  border-radius: 8px;
  filter: drop-shadow(0 0 20px var(--c1)) drop-shadow(0 0 60px var(--c1));
  animation: animate_line 1s ease-in-out infinite;
  -webkit-animation: animate_line 1s ease-in-out infinite;
  -webkit-filter: drop-shadow(0 0 20px var(--c1)) drop-shadow(0 0 60px var(--c1));
}

.scan:active h6 {
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  color: var(--c1);
  filter: drop-shadow(0 0 20px var(--c1)) drop-shadow(0 0 60px var(--c1));
  animation: animate_text 0.5s steps(1) infinite;
  -webkit-animation: animate_text 0.5s steps(1) infinite;
}

@keyframes animate_line {
  0%,
  100% {
    top: 0%;
  }

  50% {
    top: 100%;
  }
}


@keyframes animate_text {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}


.bgRpt {
  --u: 2vmin; /* change size */
	--d1: #f19e222c;
	--d2: #f19e2211;
	--s1: rgba(0, 0, 0, 0.062);
	--gp: 50% / calc(var(--u) * 10) calc(var(--u) * 10);
	height: 100vh;
	background: repeating-conic-gradient(
				from 0deg at 50% 13.75%,
				var(--s1) 0 20.55%,
				#fff0 21.05% 79.13%,
				var(--s1) 79.63% 100%
			)
			var(--gp),
		repeating-conic-gradient(
				from 0deg at 50% 50%,
				#fff0 0 25%,
				var(--s1) 25% 29%,
				#fff0 30% 70%,
				var(--s1) 71% 75%,
				#fff0 75% 100%
			)
			var(--gp),
		repeating-conic-gradient(
				from 0deg at 50% 50%,
				var(--d1) 0 25%,
				var(--d2) 0% 50%,
				var(--d1) 0 75%,
				var(--d2) 0% 100%
			)
			var(--gp);
}
